%nav.navbar.bg-color-pink-a200.main
	.container-fluid
		.navbar-header
		.collapse.navbar-collapse
			%ul.nav.navbar-nav
				%li=link_to "Home", root_path
				-if user_signed_in?
					%li= link_to "Logout", destroy_user_session_path, method: :delete
